.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: inline-grid;
  width: 95vw;
  min-width: 500px;
  grid-template-columns: 5fr 2fr 5fr;
  grid-column-gap: 10px;
  border: 3px solid grey;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.centerContainer {
  display: flex;
  justify-content: center;
}

#centerColumn {
  border-radius: 5px;
  background-color: lightslategrey;
  grid-column: 2 / 3;
  min-width: 170px;
  height: 100vh;
  margin: none;
  margin-top: 10px;
}

.stockBox {
  margin: 10px;
  height: 100vh;
}

#stockBoxLeft {
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 5px;
  min-width: 220px;
  margin: 10px;
  background-color: palegoldenrod;
  grid-column: 1 / 2;
}

#stockBoxRight {
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 5px;
  min-width: 220px;
  margin: 10px;
  background-color: paleturquoise;
  grid-column: 3 / 4;
}

.searchBoxLeft {
  display: flex;
  justify-content: center;
  width: 98%;
  padding: 3px;
  border: none;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px;
  transition: 500ms;
}
.searchBoxRight {
  display: flex;
  justify-content: center;
  width: 98%;
  padding: 3px;
  border: none;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 3px;
  transition: 500ms;
}

.searchBoxLeft:focus {
  outline: none;
}
.searchBoxRight:focus {
  outline: none;
}
.searchBoxLeft:hover {
  box-shadow: 2px 2px 2px 2px goldenrod;
}
.searchBoxRight:hover {
  box-shadow: 2px 2px 2px 2px goldenrod;
}
